.header{
    div.dropdown-multicol2{
        width: 800px;
        @media only screen and (max-width: 576px) {
            width: 100%;
        }
        .dropdown-item{
            font-size: 14px;
        }
    }
    div.dropdown-multicol2>div.dropdown-col{
        display:inline-block;
        width: 32%;
    }
    .btn-search{
        @media only screen and (max-width: 576px) {
            width: 100%;
        }
    }
}